.container {
    display: flex;
    padding: 50px;
    height: 50rem;
    justify-content: space-around;
    column-gap: 15px;
    color: rgb(46, 46, 46)
}

.column {
    background-color: rgb(170, 187, 149);
    width: 30rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    margin: 30px;
    margin: 20px;
}


.detailed-info {
    background-color: rgb(255, 255, 255);
    height: 20rem;
    margin: 25px;
}

button {
    margin: 20px;
}

input {
    width: 210px;
    height: 20px;
}

#detailed-name {
    padding: 20px;
    margin: 20px;
}

#detailed-age {
    padding: 20px;
    margin: 20px;
}

#detailed-hench {
    padding: 20px;
    margin: 20px;
}

#detailed-text {
    padding: 20px;
    margin: 20px;
}

.card {

    margin: 30px;
    align-items: right;
}